@model Avans.GameNight.App.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    
}
<h1 style="color:black">Login</h1>
<hr style="background-color:white;color:white" />



<div class="container">
    <form class="form-group" asp-action="Login" method="post">
        <div>
            <label >Email: </label>
            <input class="form-control" name="Email" type="email"   />
        </div>



       <div>
            <label >Password: </label>
            <input class="form-control" name="Password" type="password" />
        </div>


        <br />
       <button type="submit" class="btn btn-danger" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);" >Login</button>
    </form>
</div>

</br>
<div class="container">
<a  asp-area="" asp-controller="Account" asp-action="Register"><input type="submit" value="Register" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);" /></a> 
</div>