@model Avans.GameNight.Core.Domain.Models.BoardGame

@{
    ViewData["Title"] = "Edit Board Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Edit Board Game</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="Genre">Genre</label>
                <input asp-for="Genre" class="form-control" required>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input class="form-check-input" asp-for="Mature" id="Mature">
                <label class="form-check-label" for="Mature">
                    @Html.DisplayNameFor(model => model.Mature)
                </label>
            </div>

            <div class="form-group">
                <label for="Desciption">Description</label>
                <textarea asp-for="Desciption" class="form-control" required></textarea>
                <span asp-validation-for="Desciption" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="KindOfGame">Type of Game</label>
                <input asp-for="KindOfGame" class="form-control" required>
                <span asp-validation-for="KindOfGame" class="text-danger"></span>
            </div>

            <input asp-for="NameGame" class="form-control" hidden>
            <input asp-for="PictureB" class="form-control" hidden>
            <input asp-for="PictureFormat" class="form-control" hidden>
            <input asp-for="BoardGameNightBoardGame" class="form-control" hidden>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="background-color: hsl(32, 45%, 25%);border-color:hsl(32, 45%, 25%);">
                    Save Changes
                </button>
                <a asp-area="" asp-controller="BoardGame" asp-action="Index" class="btn btn-secondary">
                    Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
