html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*.btn-primary:hover {
    background-color: hsl(31, 45%, 75%);
} 
*/
body {
    margin-bottom: 60px;
    background-color: hsl(31, 45%, 75%);
    /*background-image: url('https://wallpaperaccess.com/full/1353542.jpg');*/
    
}
/*
.header {
    background-color: hsl(31, 45%, 75%);
}
.navbar-inverse .navbar-brand {
    color: #ff0000;
}
.navbar-header {
    background-color: #333;
}*/