@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

       <br />
          <br />
             <br />
                 <br />
       <br />
          <br />
             <br />
                 <br />
       <br />
          <br />
             <br />
  <div class="container">
      <p>To login to your Account please press login</p>
<a  asp-area="" asp-controller="Account" asp-action="Login"><input type="submit" value="Login" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);" /></a> 
</div>
<div class="container">
     <p>To Register an Account please press Register</p>
<a  asp-area="" asp-controller="Account" asp-action="Register"><input type="submit" value="Register" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);" /></a> 
</div>
</div>
