@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my BoardGameNight application!
    </p>
    <p>To Create Boardgames and BoardGameNights you must be 18+, if youre not 18 your only able to join BoardGameNights
    </p>
    <p>Have fun!</p>
       <br />
          <br />
             <br />
                 <br />

       <div class="container">
      <p>To see your BoardGameNights please press My BoardGameNights</p>
<a  asp-area="" asp-controller="BoardGameNight" asp-action="MyBoardGameNights"><input type="submit" value="My BoardGameNights" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);" /></a> 
</div>
 <br />
  <div class="container">
      <p>To Create a BoardGameNight please press Create</p>
<a  asp-area="" asp-controller="BoardGameNight" asp-action="Create"><input type="submit" value="Create" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);" /></a> 
</div>
 <br />
<div class="container">
     <p>To Join a BoardGameNight please press Join</p>
<a  asp-area="" asp-controller="BoardGameNight" asp-action="Index"><input type="submit" value="Join" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);" /></a> 
</div>
 <br />
<div class="container">
     <p>To see or create boardgames please press BoardGames</p>
<a  asp-area="" asp-controller="BoardGame" asp-action="Index"><input type="submit" value="BoardGames" class="btn btn-primary" style="background-image: url('https://wallpaperaccess.com/full/3405912.jpg'); border-color:  hsl(32, 45%, 25%);" /></a> 
</div>
